#sidebarwrap {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.35s;
}
#sidebar {
  transform: translateX(100%);
  animation: slide-in 0.35s ease forwards;
}
#sidebar.slide-out {
  animation: slide-out 0.35s ease forwards !important;
}
@keyframes slide-in {
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.form-group:focus-within [fType="lbl"] {
  color: #222;
  transform: translateY(-100%);
  transition: all 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.shrink {
  color: #222;
  transform: translateY(-100%);
}

input[type="radio"] {
  position: absolute;
  display: none;
}
input[type="radio"]:checked ~ .checkbox > span {
  display: inline-block;
}

input[type="radio"]:checked ~ .radio-label {
  background: #222 !important;
  color: #fff !important;
  border: #222 !important;
}

/* #cartPanel main::-webkit-scrollbar {
  display: none;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
input:autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  background-color: #f3f4f6 !important; 
}

/*Footer*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*Footer*/


/*Zoom image while hover*/
div.group div a .max-w-full:hover {
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25); 
  transition: transform .4s ease-in-out;
}

.max-w-full{
	transition: transform .2s ease-in-out;
}
/*Zoom image while hover*/

/* Transition for navbar */
.sticky ul li{ 
	transition: all 0.3s ease;
}

.sticky ul li:hover{ 
	color: rgb(17 24 39);
	padding-left: 8px;
}
/* Transition for navbar */


/* Transition for popup buy button */
.grid {
	transition: transform .2s ease-in-out;
	
}

button.uppercase{
	transition: all 0.3s ease;
}

a {
	text-decoration: none !important;
  }
#addcart:hover{
	background-color: #d4d4d4;
  	border-color: #000000;
}



